{% extends 'BeatXMusic/base/header.html'%}
{% block content %}
{% load static %}

        <!-- right panel -->
        <div class="user-content">
          {% include 'BeatXMusic/base/home/friendlist.html'%}
        {% include 'BeatXMusic/base/leftpane.html'%}
        <!-- Middle panel -->
        <div class="middle-content">
            <!-- Info of User -->
            <form method="post" action="/beatXmusic/uploadprofilee/" enctype="multipart/form-data">
              {% csrf_token%}
           <div class="user-info">
             <label for="profileupload">
               <img src="/uploaded/{{ profile }}">
             </label>
               <input id="profileupload" type="file" name="ChangeProfilePic" accept="image/*">
                 <button type="submit" id="uploadprofilepicBeatX" name="button"></button>
             </form>


                <div class="username">
                    <h1> {{ username }} </h1>
                    <p>{{uid}}</p>
                </div>
           </div>
           <div class="user-social-details">
                <div class="user-friends">
                    <a href="#" style="left: 43em;">
                        <h1> Friends </h1>
                        <!-- User Friends will be updated from User's Friend Database -->
                        <h2>{{totalfr}}</h2>
                    </a>
                    <a href="#" style="right: 47em;">
                        <h1> Playlists </h1>
                        <!-- Playlists will be updated from User's Playlists Database -->
                        <h2> 5 </h2>
                    </a>
                </div>
           </div>
           <div class="user-bio">
               <!-- User's Bio can change when user want from user input -->
               <p> Music Lover/Singer </p>
           </div>
           <div class="edit-profile">
                <a href="{%url 'BeatXMusic:updateProfile' %}"> Edit Profile </a>
           </div>
           {% if update == 'update' %}
           {% include 'BeatXMusic/update.html' %}
           {% endif %}
           <br><br>

           <div class="edit-profile">
                <a href="{%url 'Registration:deleteUser' %}">  Delete User </a>
           </div>
           <script>
             $(document).ready(function(){
               $('#profileupload').change(function(e){
                 var files= e.target.files[0].name;
                 if(confirm("upload profile"+files)){
                   document.getElementById("uploadprofilepicBeatX").click()
                 }
                 else{
                 }
               });
             });
           </script>
           {%include 'BeatXMusic/base/footer.html'%}
    {% endblock %}
